@import "../../styles/vars";

.tileContainer {
	$size: 18em;
	$padding: 1em;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: $size;
	height: $size;
	line-height: $size - ($padding*2);
	padding: $padding $padding $padding $size;
	border-radius: $padding;

	&:not(:last-child) {
		margin-bottom: 2em;
	}

	h1 {
		margin: 0;
		padding: 0 0 0 $padding*2;
		color: #fff;
	}
}