@import "./vars";

@font-face {
  font-family: "MADE-Dillan";
  src: url("https://www.netlify.com/v3/_fonts/MADE-Dillan-latin-sm.woff22") format("woff2"), url("https://www.netlify.com/v3/_fonts/MADE-Dillan-latin-sm.woff2") format("woff");
  font-weight: 400;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: $fontSize;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Made-Dillan", serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  ;
}

.container {
  min-height: 100vh;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}